body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(235, 234, 234);
}

/* .green {
    background-color: lightgreen;
}

.salmon {
    background-color: lightsalmon;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: lightpink;
}

.white {
    background-color: whitesmoke;
} */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0, 0.3);
    /* opacity: 0;
    pointer-events: none; */
    
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    flex: 1;

    margin-top: -2.5vh;
    min-width: 750px;
    max-width: 45vw;
    min-height: 80vh;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
}


.modal-image-title-extra-cont {
    min-height: 180px;
    margin: 20px;
    margin-bottom: 0;
    
    display: flex;
}

.title-extra {
    max-width: 70%;
    min-width: 70%;

    display: flex;
    flex-direction: column;
}

.title-container {
     min-height: 80px;
     display: flex;
     align-items: center;
}

.title {
    /* text-align: center; */
    flex: 1;
    margin: 0;
    margin-top: 12px;
    padding: 0 20px;
    /* vertical-align: center; */
    font-size: 40px;
    font-weight: 500;
    
    text-align: justify;
}

.extra-container {
    flex: 1;

    display: flex;
    justify-content: space-between;

    padding: 0 20px;
}

.extra-left,
.extra-right {
    min-width: 100px;
}

.extra-text {
    margin: 0;
    margin-top: 10px;

    font-size: 14px;
}

.extra-text-right-cont {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    padding: 4px 0;
    display: flex;
}

.extra-text-right {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    display: inline;
    margin-left: 5px;
}

.git-icon {
    height: 15px;
    width: 15px;
  }
  
.report-icon {
    height: 15px;
    width: 15px;
}

.image-container {
    flex: 1;

    display: flex;

}

.image-container-container {
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    flex: 1;
}

.image {
    object-fit: cover;
    height: 80%;
    width: 80%;
    transform: scale(1.5);
}

.modal-description-and-info-cont {
    flex: 1;
    
    display: flex;
    
    margin: 20px;
    margin-top: 0;
}

.description {
    min-width: 70%;
    max-width: 70%;

    display: flex;
}

.description-text-box {
    flex: 1;
    margin: 0 0 20px 20px;
    

    display: flex;
    flex-direction: column;
}

.description-header {
    margin: 0;
    margin-top: 0;

    font-size: 20px;
}

.description-text {
    margin: 0;
    margin-top: 20px;

    line-height: 130%;
    text-align: justify;

    font-size: 15px;
}

.info {
    flex: 1;

    display: flex;
}

.info-text-container {
    flex: 1;
    margin: 25px 20px 20px 50px;


}

.info-text-header {
    margin: 0;
    margin-bottom: 7px;
    padding-left: 5px;

    font-size: 18px;

    text-decoration: underline;
}

.info-list {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 50px;
}

.list-item {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}