body {
    margin: 0;
    font-family: Helvetica;
    overflow-x: hidden;

}

/* .gray {
    background-color: lightgray;
}

.pink {
    background-color: rgb(252, 238, 240);
}

.blue {
    background-color: rgb(226, 240, 244);
}

.green {
    background-color: lightgreen;
} */



.about-page-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* max-height: 100vh; */
    width: 100vw;
    z-index: 1;
    transition: transform 1s ease;

   

}

.projects-page-container {

    position: absolute;
    display: flex;
    /* overflow: hidden; */
    /* height: 100vh; */
    width: 100vw;
    min-height: 100vh;
    
    transform: translateX(100%);

    z-index: 0;
    transition: none;

}


.page-container {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    justify-content: space-between;
    display: flex;
    z-index: 2;

    pointer-events: none;


}



.nav-container {
    background-color: white;
    max-height: 8vh;
    min-height: 70px;
    min-width: 200px;

    right: 75px;
    top: 5px;
    border-style: solid;
    border-color: #5B9BD5;
    border-width: 2px;
    border-radius: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    
    z-index: 4;
    pointer-events: auto;
    
}

.nav-container:hover {
    .nav-label-left,
    .nav-label-right {
        opacity: 1;
    }
}

.moving-border {
    position: absolute;
    pointer-events: none;

    max-height: 90%;
    min-height: 60px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 100px;
    left: 5px;

    /* border-style: solid;
    border-width: 2px;
    border-color: #a3d2fe;
    background-color: #a3d2fe; */

    z-index: 1;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    transition: left 1s ease;
}

/* .nav-container:hover .moving-border {
    left: 133px;
} */

/* @keyframes loadTransition {
    0% {
        transform: translateX(0%);
    }

    100% {
        left: 100px;
    }
} */

.nav-label-left {
    position: absolute;
    left: -50px;
    top: 30;

    opacity: 0;
    pointer-events: none;

    transition: opacity ease 0.5s;
}

.nav-label-right {
    position: absolute;
    right: -66px;
    top: 30;

    opacity: 0;
    pointer-events: none;

    transition: opacity ease 0.5s;
}


.landing-page,
.project-page {
    border-radius: 100px;
    max-height: 90%;
    min-height: 60px;
    min-width: 60px;
    max-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;

    z-index: 2;

}

.landing-page {
    margin-left: 5px;
    font-family: 'Georgia';
    font-weight: 500;
    font-size: 34px;
}

.project-page {
    margin-right: 5px;
    overflow: hidden;
}

.nav-image {
    object-fit: cover;
    margin-bottom: 8px;
    height: 78%;
    width: 78%;
}

.landing-page:hover,
.project-page:hover {
    background-color: #76c0e8;
    cursor: pointer;
}

.landing-page:active,
.project-page:active {
    background-color: #8fd0f2;
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .page-container {
        justify-content: center;
    }

    .nav-container {
        right: auto;
        top: 12.5px;
    }


    .nav-container:hover{
        .nav-label-left,
        .nav-label-right {
            opacity: 0;
        }
    }

    .landing-page:hover,
    .project-page:hover {
        background-color: transparent;
    
    }
}