p {
    color: black;
}

a {
    text-decoration: none;
}

/* .green {
    background-color: lightgreen;
}

.salmon {
    background-color: lightsalmon;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: lightpink;
}

.white {
    background-color: whitesmoke;
} */

.modal-container {
    position: fixed;
    z-index: 1;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    max-height: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    background-color: rgba(0,0,0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;




    
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}


.modal {
    background-color: rgba(255, 255, 255, 0.75);
    /* flex: 1; */
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 52vw;
    max-width: 700px;

    min-height: 80%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    position: relative;


    opacity: 1;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(47, 114, 177);
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}

.close {
    position: absolute;
    top: 18px;
    left: 18px;

    color: white;

    background-color: rgb(47, 114, 177);
    border-color: rgb(47, 114, 177);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

.close:hover {
    cursor: pointer;
    color: rgb(47, 114, 177);
    background-color: white;
}

.close:active {
    background-color: rgb(241, 241, 241);
}


.modal-image-title-extra-cont {
    min-height: 180px;
    margin: 20px;
    display: flex;
}

.title-extra {
    /* max-width: 70%;
    min-width: 70%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-container {
     min-height: 80px;
     display: flex;
     align-items: center;
}

.title {
    /* text-align: center; */
    flex: 1;
    margin: 0;
    margin-top: 12px;
    padding: 0 20px;
    /* vertical-align: center; */
    font-size: 40px;
    font-weight: 500;
    
    text-align: center;
    color: rgb(47, 114, 177);
}

.extra-container {
    flex: 1;

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.extra-left,
.extra-right {
    min-width: 100px;
}

.extra-text {
    margin: 0;
    margin-top: 7px;
    padding: 4px 0;

    font-size: 14px;
    color: rgb(34, 34, 34);
}

.extra-text-right-cont {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    padding: 4px 0;
    display: flex;
}

.extra-text-right {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    display: inline;
    margin-left: 5px;

    color: rgb(34, 34, 34);

}

/* .extra-text-right:hover {
    color: rgb(47, 114, 177);
} */

.git-icon {
    height: 15px;
    width: 15px;
  }
  
.report-icon {
    height: 15px;
    width: 15px;
}

.image-container {
    /* flex: 1; */
    min-width: 200px;
    max-width: 250px;
    display: flex;
    max-height: 180px;

}

.image-container-container {
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    flex: 1;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(47, 114, 177);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.5);
}

.modal-description-and-info-cont {
    flex: 1;
    display: flex;
    margin: 20px;
    margin-top: 20px;
}

.description {
    width: 100%;
    display: flex;
}

.description-text-box {
    flex: 1;
    margin: 0 20px 20px 20px;

    display: flex;
    flex-direction: column;
}

.description-header {
    margin: 0;
    margin-top: 0;

    font-size: 20px;
    color: rgb(47, 114, 177);
}

.description-text {
    margin: 0;
    margin-top: 20px;

    line-height: 130%;
    text-align: justify;

    font-size: 15px;
    color: rgb(34, 34, 34);
}

.info {
    min-width: 200px;
    display: flex;
}

.info-text-container {
    flex: 1;
    margin: 0px 20px 20px 30px;


}

.info-text-header {
    margin: 0;
    margin-bottom: 7px;
    padding-left: 5px;

    font-size: 18px;

    color: rgb(47, 114, 177);
    /* text-decoration: underline; */
}

.info-list {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 50px;
}

.list-item {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;

    color: rgb(34, 34, 34);;
}

@media screen and (max-width: 720px){


    .modal {
        max-width: 90vw;
        
    }



}

@media screen and (max-width: 650px){

    .modal {
        min-width: 90vw;
    }

    .modal-image-title-extra-cont {
        flex-direction: column;
        align-items: center;
        min-height: 50%;
    }

    .image-container {
        max-width: 400px;
        order: 0;
    }

    .extra-text {
        color: rgb(47, 114, 177);
    }

    .extra-left,
    .extra-right{
        display: flex;
        flex-direction: row;
    }

    .extra-left {
        justify-content: space-around;
        flex-direction: column;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .extra-text {
        text-align: center;
    }

    .extra-right {
        justify-content: space-around;
    }

    .extra-container {
        flex-direction: column;
    }

    .title-extra {
        order: 1;
    }


    .extra-text-right-cont {
        flex-direction: column;
        align-items: center;
    }

    .modal-description-and-info-cont {
        flex-direction: column;
        margin-top: 12px;
    }

    .description-text-box {
        margin: 0 5px 20px 5px;
    }

    .description-text {
        line-height: 160%;
    }

    .report-icon,
    .git-icon {
        height: 40px;
        width: 40px;
        margin-bottom: 5px;
    }

    .extra-text-right {
        margin-left: 0;
    }

    .info {
        flex-direction: row;
    }

    .info-text-header {
        margin-top: 30px;
    }

    .info-text-header,
    .info-list {
        flex: 1;
        max-width: 100%;
        text-align: center;
    }

    .list-item {
        margin-left: 20%;
        margin-bottom: 15px;
    }

    .info-list {
        padding-left: 20px;
    }

    .close {
        position: sticky;
        font-size: 20px;
        width: 10vw;
        height: 10vw;
        padding: 0;
        margin: 0;
        z-index: 5;

        margin: 18px 0 0 18px;
    }
    



}